<div class="contenido-mapa">
    <div class="input-group">
      <code>{{usuarioSeleccionadoMapa.nombre}}
        {{usuarioSeleccionadoMapa.apellidos}}
        {{usuarioSeleccionadoMapa.email}}
        {{usuarioSeleccionadoMapa.telefono}}
        {{usuarioSeleccionadoMapa.direccion}}
        {{usuarioSeleccionadoMapa.codigo_postal}}
        {{usuarioSeleccionadoMapa.poblacion}}
        {{usuarioSeleccionadoMapa.provincia}}
        {{usuarioSeleccionadoMapa.profesion}}
        {{usuarioSeleccionadoMapa.notas}}
      </code>
        <input
          class="form-control form-control-sm"
          type="text"
          value="{{usuarioSeleccionadoMapa.direccion}}"
          readonly
        />
      </div>
</div>
