<div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Nombre" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
     
      <button class="btn-secondary btn-lg btn-block"  id="basic-addon2" (click)="buscarNombre()" >Buscar</button>
      
    </div>
    
  </div>
<div class="botones-usuario">
  
  <button
    class="btn-secondary btn-lg btn-block botonUsuario"
    *ngFor="let item of filtro_usuario; let i = index"
    (click)="muestraUsuario(i)"
  >
    {{ item.nombre }}
  </button>
</div>
