<div class="input-group mb-3">
    <input type="text" class="form-control"   placeholder="Nombre" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2"  >Buscar</span>
    </div>
  </div>
<div class="botones-usuario">
  <button
    class="btn-secondary btn-lg btn-block"
    *ngFor="let item of filtro_usuario; let i = index"
    (click)="muestraUsuario(i)"
  >
    {{ item.nombre }}
  </button>
</div>
