<div class="contenedor-general">
  <div class="contenido-general">
    <div class="contenedor-cabecera este50px">
      <app-cabecera></app-cabecera>
    </div>
    <div class="contenedor-del-cuerpo">
      <div class="contenido-listado-y-botonera este300px">
        <div class="contenedor-listado">
          <app-listado (usuarioSelecionadoRespuesta)="seleccionaUsuario($event)" [usuariosPadre]="usuarios"></app-listado>
        </div>
        <div class="contenedor-botonera" >
          <app-botonera (cambiosListaRespuesta)="cambiosLista($event)" ></app-botonera>
        </div>
      </div>

      <div class="contenido-datos">
        <app-datos (datosModificar)="datosUsuarioModificar($event)" [usuarioSeleccionadoPadre2]="usuarioSeleccionado"></app-datos>
      </div>
      <div class="contenido-mapa">
        <app-mapa  [usuarioSeleccionadoMapa]="usuarioSeleccionado"></app-mapa>
      </div>
    </div>
  </div>
</div>
