<div class="contenedor-tabla-producto">
  <div class="box-tipico-con-colores-traslucidos">
    <div class="ficha-producto">
      <div class="contenedor-datos-producto">
        <div class="contenedor-datos-producto-arriba">
          <div class="nombre">
            <label>NOMBRE:</label>
            <div class="input-group">
              <input
                class="form-control form-control-sm"
                type="text"
                value="{{usuarioSeleccionadoPadre2.nombre}}"
                readonly
              />
            </div>
          </div>
          <div class="apellidos">
            <label>APELLIDOS:</label>
            <div class="input-group">
              <input
                class="form-control form-control-sm"
                type="text"
                value="{{usuarioSeleccionadoPadre2.apellidos}}"
                readonly
              />
            </div>
          </div>
          <div class="email">
            <label>EMAIL:</label>
            <div class="input-group">
              <input
                class="form-control form-control-sm"
                type="text"
                value="{{usuarioSeleccionadoPadre2.email}}"
                readonly
              />
            </div>
          </div>
          <div class="telefono">
            <label>TELEFONO:</label>
            <div class="input-group">
              <input
                class="form-control form-control-sm"
                type="text"
                value="{{usuarioSeleccionadoPadre2.telefono}}"
                readonly
              />
            </div>
          </div>
        </div>
      </div>
      <div class="contenedor-datos-producto-medio">
        <div class="direccion">
          <label>DIRECCIÓN:</label>
          <div class="input-group">
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{usuarioSeleccionadoPadre2.direccion}}"
              readonly
            />
          </div>
        </div>
        <div class="codigo_postal">
          <label>CODIGO POSTAL:</label>
          <div class="input-group">
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{usuarioSeleccionadoPadre2.codigo_postal}}"
              readonly
            />
          </div>
        </div>
      
      <div class="poblacion">
        <label>POBLACIÓN</label>
        <div class="input-group">
          <input
            class="form-control form-control-sm"
            type="text"
            value="{{usuarioSeleccionadoPadre2.poblacion}}"
            readonly
          />
        </div>
      </div>
      <div class="provincia">
        <label>PROVINCIA</label>
        <div class="input-group">
          <input
            class="form-control form-control-sm"
            type="text"
            value="{{usuarioSeleccionadoPadre2.provincia}}"
            readonly
          />
        </div>
      </div>
      <div class="contenedor-datos-producto-abajo">
        <div class="profesion">
          <label>PROFESION:</label>
          <div class="input-group">
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{usuarioSeleccionadoPadre2.profesion}}"
              readonly
            />
          </div>
        </div>
        <div class="notas">
          <label>NOTAS:</label>
          <div class="input-group">
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{usuarioSeleccionadoPadre2.notas}}"
              readonly
            />
          </div>
        </div>
      
    </div>
  </div>
</div>
